apiVersion: batch/v1
kind: Job
metadata:
  name: minio-create-bucket
  namespace: {{ include "fraud-detection-feast.namespace" . }}
  labels:
    {{- include "fraud-detection-feast.labels" . | nindent 4 }}

spec:
  backoffLimit: 4
  template:
    spec:
      restartPolicy: OnFailure
      containers:
        - name: mc
          image: quay.io/minio/mc:latest
          env:
            - name: HOME
              value: /tmp
          envFrom:
            - secretRef:
                name: minio-admin
          command:
            - /bin/sh
            - -c
            - |
              echo "Waiting for MinIO to be ready..."
              until mc alias set local http://minio.{{ include "fraud-detection-feast.namespace" . }}.svc.cluster.local:9000 "$MINIO_ROOT_USER" "$MINIO_ROOT_PASSWORD"; do
                sleep 5
              done
              echo "Creating {{ .Values.minio.bucketName }} bucket..."
              mc mb --ignore-existing local/{{ .Values.minio.bucketName }}
              echo "Bucket created successfully"
