---
apiVersion: v1
kind: Secret
metadata:
  name: postgres-admin
  namespace: {{ include "fraud-detection-feast.namespace" . }}
  labels:
    {{- include "fraud-detection-feast.labels" . | nindent 4 }}
type: Opaque
stringData:
  POSTGRES_DB: {{ .Values.postgres.database }}
  POSTGRES_USER: {{ .Values.postgres.user }}
  POSTGRES_PASSWORD: {{ .Values.postgres.password }}
---
apiVersion: v1
kind: Secret
metadata:
  name: postgres-creds
  namespace: {{ include "fraud-detection-feast.namespace" . }}
  labels:
    {{- include "fraud-detection-feast.labels" . | nindent 4 }}
type: Opaque
stringData:
  postgres: |
    host: postgres.{{ include "fraud-detection-feast.namespace" . }}.svc.cluster.local
    port: 5432
    user: {{ .Values.postgres.user }}
    password: {{ .Values.postgres.password }}
    database: {{ .Values.postgres.database }}
---
apiVersion: v1
kind: Secret
metadata:
  name: minio-admin
  namespace: {{ include "fraud-detection-feast.namespace" . }}
  labels:
    {{- include "fraud-detection-feast.labels" . | nindent 4 }}
type: Opaque
stringData:
  MINIO_ROOT_USER: {{ .Values.minio.rootUser }}
  MINIO_ROOT_PASSWORD: {{ .Values.minio.rootPassword }}
---
apiVersion: v1
kind: Secret
metadata:
  name: minio-creds
  namespace: {{ include "fraud-detection-feast.namespace" . }}
  labels:
    {{- include "fraud-detection-feast.labels" . | nindent 4 }}
type: Opaque
stringData:
  AWS_ACCESS_KEY_ID: {{ .Values.minio.rootUser }}
  AWS_SECRET_ACCESS_KEY: {{ .Values.minio.rootPassword }}
  AWS_ENDPOINT_URL: http://minio.{{ include "fraud-detection-feast.namespace" . }}.svc.cluster.local:9000
  AWS_DEFAULT_REGION: us-east-1
